<h1> Show game details </h1>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
  <br>
  <strong>Theme:</strong>
  <%= @game.colour %>
  <br>
  <strong>Question:</strong>
  <%= @game.question %>
  <br>
  <strong>Number of Chests:</strong>
  <%= @game.numOfChests %>
  <br>
  <strong>Pin:</strong>
  <%= @game.pin %>
</p>
