%h2 Game has ended

- @results.each do |team,questions|
  %h2= team

  %table.table.table-striped
    %tbody
      %tr
        %th Solved
        %th Attempts
        %th Hint Used
        %th Score
    - questions.each do |question|
      %tr
        %td= question.solved
        %td= question.attempts
        %td= question.hint
        %td= question.score

%br
%table.table.table-striped
  %tbody
    %tr
      %th Question
      %th Answer
      %th Hint
      - @questions.each do |question|
        %tr
          %td= question.question
          %td= question.answer
          %td= question.hint
