<script language="javascript" type="text/javascript">setTimeout("location.reload();",20000);</script>

%h2= "This game has #{@num_of_teams} teams"
%h2= "Pin: #{@pin}"

%h5= link_to 'End', end_game_path(@live_game[0].id)
